{% extends 'mailing/base.html' %}
{% block title %}Получатель{% endblock %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Информация о получателе:</p>
                        <li>Полное имя: {{ client.full_name }}</li>
                        <li>Почта: {{ client.email }}</li>
                        <li>Коментарий: {{ client.comment }}</li>
                        <p></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary rounded me-5"
                                   href="{% url 'mailing:client_update' client.pk %}"
                                   role="button">Редактировать</a>
                                <a class="btn btn-primary rounded"
                                   href="{% url 'mailing:client_list' %}"
                                   role="button">Назад</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}