{% extends 'mailing/base.html' %}
{% block title %}Попытка рассылки{% endblock %}

{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <p class="card-text">Информация о попытках рассылки:</p>
                        <li>Дата отправки: {{ SendAttempt.attempt_time }}</li>
                        <li>Дата и время окончания отправки: {{ SendAttempt.end_at }}</li>
                        <li>Статус: {{ SendAttempt.status }}</li>
                        <li>Тема: {{ SendAttempt.message }}</li>
                        <li>Получатели:
                            <ul>
                                {% for recipient in recipients %}
                                <li>{{ recipient.username }} ({{ recipient.email }})</li>
                                {% empty %}
                                <li>Нет получателей</li>
                                {% endfor %}
                            </ul>
                        </li>
                        <p></p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a class="btn btn-primary rounded me-5"
                                   href="{% url 'mailing:mailing_update' mailing.pk %}"
                                   role="button">Редактировать</a>
                                <a class="btn btn-primary rounded"
                                   href="{% url 'mailing:mailing_list' %}"
                                   role="button">Назад</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}